@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/MyCustomFont.ttf');
}
.font-custom {
    font-family: 'MyCustomFont';
}
body {
    background-color: #f8f9fa;
    color: #333;
    font-size: 16px;
}
h1 {
    color: #007bff;
}
